body>div {
  width: 300px;
}

table {
  border-collapse: collapse;
}

.ui-sortable>div {
  border: solid silver 1px;
  margin: 1px;
  padding: 1px;
}

.ui-sortable>tr>td {
  border: solid silver 1px;
  padding: 1px 5px 1px 5px;
}
